<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать информацию</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class='container'>
        <h2 class="center">Редактирование информации</h2>
        <form method="post">
            {% csrf_token %}
            <div class="field-wrapper contact-data">
                <p><span class="highlight">Контактные данные:</span></p> 
                {{ customer_form.bio }}
                <span class="divider"></span>
            </div>
            <div class="field-wrapper experience">
                <p><span class="highlight">Опыт:</span></p> 
                {{ customer_form.exp }}
            </div>
            <div class="field-wrapper username">
                <p><span class="highlight">Имя пользователя:</span></p>
                {{ user_form.username }}
            </div>
            
            <button type="submit">Сохранить</button>
        </form>        
    </div>

    <style>
        .field-wrapper.contact-data textarea {
            height: 25px;
            overflow-y: hidden;
        }
    </style>
</body>
</html>
